.background {
    background-color: rgb(238, 255, 65);
  }
  
  .logo {
    background-color: rgb(0, 0, 0);
  }
  
  .progressBar {
    background-color: rgb(65, 211, 255);
  }
  
  .splash {
    background-color: rgb(147, 65, 255);
  }
  
  .watermark {
    background-color: rgba(65, 255, 113);
  }